.wrapper {
  text-align: center;
}

.message {
  margin-bottom: 1vmin;
  color: white;
  font: 5vmin Verdana;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.square {
  border: 1px solid black;
  border-radius: 5px;
  height: 10vmin;
  text-align: center;
  margin: 1vmin;
  width: 10vmin;
  font-size: 3vmin;
}
